@charset "utf-8";

/* =======================
currentSituation
========================== */
.section__ticketPass{
   background-color: var(--primary-white);
   padding-top: 4rem;
   /* width: 100vw; */
}

.ticketPass--gr {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   text-align: center;
}

.ticketPass--ja {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-green);
   text-align: center;
}

.ticket__box {
   display: flex;
   flex-direction: column;
   text-align: center;
   /* width: 100%; */
}

.ticketPass__title {
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--primary-white);
   letter-spacing: 0.4rem;
   background-color: var(--primary-green);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 1rem;
   padding: 1rem 0;
   margin-top: 4rem;
}

.ticketPass__title-modifire {
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--primary-white);
   letter-spacing: 0.5rem;
   background-color: var(--primary-green);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 1rem;
   padding: 1rem 0;
   margin-top: 6rem;
}

.ticket__box {
   width: 100vw;

}
.general {
   width: 100%;
   height: auto; 
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   padding: 1rem;
   background-color: var(--primary-lightGray);
   gap: 1.5rem;
}

.general-modifire {
   width: 100%;  
   height: auto; 
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 1rem;
   display: flex;
   margin-top: 1rem;
   padding: 1rem;
   background-color: var(--primary-lightGray);
   gap: 1.5rem;
   justify-content: center;
   margin-bottom: 6rem;
}

.icone__box {
   width: 7.3rem;
   height: 7.3rem;
   border-radius: 10px;
   overflow: hidden;
   flex-shrink: 0;
}
   
.icone__contents {
   width: 100%;
}

.ticket__txtArea {
   display: block;
   /* margin: 0 auto; */
   padding: 0;
}

.ticket__type {
   font-size: 1.4rem;
   font-weight: 700;
   letter-spacing: 0.02em;
   color: var(--primary-green);
   text-align: center;
} 

.ticket__type-modifire {
   font-size: 1.3rem;
   font-weight: 700;
   letter-spacing: 0.01em;
   color: var(--primary-green); 
   text-align: center;
}

.ticket__typeSub-modifiers {
   font-size: 1.1rem;
   font-weight: 400;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
}

.user {
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--primary-black);
   text-align: left;
}

.contentsWrap {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.wait {
   font-size: 2.5rem;
   color: var(--primary-black);
   font-weight: 700;
}

.minutes {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black);
   padding-left: 3px;
}

.time-modifire {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black); 
   align-items: right;
}

.price__fine {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
}

.price__fine-modifire {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   padding-top: 1.3rem;
}

.fa-solid.fa-1,.fa-solid.fa-2,.fa-solid.fa-3,.fa-solid.fa-4,.fa-solid.fa-5,.fa-solid.fa-6,.fa-solid.fa-7.fa-solid.fa-8 {
   font-size: 1.2rem;
}

.time {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black);
   padding-left: 2rem;
}

.people__box {
   display: flex;
   text-align: left;
   width: fit-content;
   padding-top: 1.5rem;
}

.people__box-modifire {
   display: flex;
   justify-content: flex-end;
   gap: 2rem;
}

.fa-solid.fa-user.fa-2xl,.fa-regular.fa-user.fa-2xl { 
   font-size: 1.8rem;
}

