@charset "utf-8";

/* =======================
common
========================== */
:root {
   --primary-lightGray:#eee;
   --primary-green:#1A9B44;
   --primary-black:#333a3a;
   --primary-white:#fdfdfd;
   --primary-lightgreen:#DAF8D3;
   --contentWidth: 91.4%;
   --contentpadding: 4.2%;
}

/* いい感じのボックスシャドウ
box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4); */

html {
   font-size: 62.5%;
}

/* * {
   border: 1px solid red;
}
 */

body {
   width: 100%;
   font-family: 
      'noto Sans JP',
      Arial, 
      sans-serif;
   font-style: normal;
   color: var(--primary-black,#333a3a);
   line-height: 1.5;
   background: var(--primary-lightGray);
}

.container {
   width: 100%;
   padding: 0 1.6rem;
}

.header {
   padding: 2rem 0;
   width: 100vw;
   height: 8.4rem;
   background-color: var(--primary-lightgreen);
   box-shadow: 0px 5px 5px 0px rgba(144, 144, 144, 0.4);
   position: sticky;
   top: 0;
   z-index: 4;
}

.NexaHUBiconWrap {
   display: flex;
   justify-content: space-between;
   padding: 0 2rem;
}

.burger {
   position: relative;
}

.NexaHUBicon {
   width: 22.1rem;
   height: 3.9rem;
}

.menuListWrap {
   padding: 2rem;
}

.menuIconeRobot {
   width: 2rem;
   height: 2rem;
   margin-bottom: 7px;
   margin-right: 7px;
}

.menuList {
   color: var(--primary-black);
   font-size: 1.8rem;
   font-weight: 400;
   margin-top: 2rem;
}

/* =======================
currentSituation
========================== */
.section__ticketPass{
   background-color: var(--primary-white);
   padding-top: 4rem;
   width: 100vw;
   /* position: relative;
   left: 50%;
   transform: translateX(-50%); */
}

.ticketPass--gr {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   text-align: center;
}

.ticketPass--ja {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-green);
   text-align: center;
}

.ticket__box {
   display: flex;
   flex-direction: column;
   text-align: center;
   width: 100vw;
}

.ticketPass__title {
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--primary-white);
   letter-spacing: 0.4rem;
   background-color: var(--primary-green);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 1rem;
   padding: 1rem 0;
   margin-top: 4rem;
}

.ticketPass__title-modifire {
   font-size: 1.8rem;
   font-weight: 700;
   color: var(--primary-white);
   letter-spacing: 0.5rem;
   background-color: var(--primary-green);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 1rem;
   padding: 1rem 0;
   margin-top: 6rem;
}

.general {
   width: 100vw;
   height: auto; 
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 1rem;
   display: flex;
   margin-top: 1rem;
   padding: 1rem;
   background-color: var(--primary-lightGray);
   gap: 1.5rem;
}

.general-modifire {
   width: 100vw;  
   height: auto; 
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   border-radius: 1rem;
   display: flex;
   margin-top: 1rem;
   padding: 1rem;
   background-color: var(--primary-lightGray);
   gap: 1.5rem;
   margin-bottom: 6rem;
}

.icone__box {
   width: 73px;
   height: 73px;
   border-radius: 10px;
   overflow: hidden;
}

.icone__contents {
   width: 100%;
}

.ticket__txtArea {
   display: block;
   margin: 0 auto;
   padding: 0.05rem;
}

.ticket__type {
   font-size: 1.4rem;
   font-weight: 700;
   letter-spacing: 0.02em;
   color: var(--primary-green);
   text-align: center;
} 

.ticket__type-modifire {
   font-size: 1.3rem;
   font-weight: 700;
   letter-spacing: 0.01em;
   color: var(--primary-green); 
   text-align: center;
}

.ticket__typeSub-modifiers {
   font-size: 1.1rem;
   font-weight: 400;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
}

.user {
   font-size: 1.2rem;
   font-weight: 500;
   color: var(--primary-black);
   text-align: left;
}

.contentsWrap {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.wait {
   font-size: 2.5rem;
   color: var(--primary-black);
   font-weight: 700;
}

.minutes {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black);
   padding-left: 3px;
}

.time-modifire {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black); 
   align-items: right;
}

.price__fine {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
}

.price__fine-modifire {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   padding-top: 13px;
}

.fa-solid.fa-1,.fa-solid.fa-2,.fa-solid.fa-3,.fa-solid.fa-4,.fa-solid.fa-5,.fa-solid.fa-6,.fa-solid.fa-7.fa-solid.fa-8 {
   font-size: 1.2rem;
}

.time {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black);
   padding-left: 20px;
}

.people__box {
   display: flex;
   text-align: left;
   width: fit-content;
   padding-top: 15px;
}

.people__box-modifire {
   display: flex;
   justify-content: flex-end;
   gap: 20px;
}

.fa-solid.fa-user.fa-2xl,.fa-regular.fa-user.fa-2xl { 
   font-size: 1.8rem;
}

/* =======================
NexaHUBinformation
========================== */
.section__NexaHUBinformation {
   width: 100vw;
   background-color: var(--primary-lightgreen);
   text-align: left;
   justify-content: center;
   padding-top: 40px;
}

.NexaHUBinformation__title {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.NexaHUBinformation__block {
   margin-bottom: 20px;
}

.NexaHUBinformation__subTitle {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 400;
   margin-left: 5px;
}

.NexaHUBinformation__txt {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txt1 {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txtSns {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.SNSblock {
   display: flex;
   justify-content: left;
   gap: 10px;
   animation: SNSblock 2s ease-out infinite;
   opacity: 1;
      margin-left: 40px;
}

@keyframes SNSblock {
   0%, 40%, 60%, 80% {
   transform: scale(1.0);
}

50%, 70% {
   transform: scale(0.95);
   }
}

.sns {
   width: 20px;
   height: 20px;
   margin: 10px 0 40px;
}

.copyrightArea {
   margin: 0 auto;
}

.footerLine {
   border-top: #a9a9a9 0.1px solid;
   margin-bottom: 15px;
}

.NexaHUBiconFooter {
   background-color: var(--primary-lightgreen);
   width: 110px;
   height: 19px;
   display: block;
   margin: 0 auto;
}

.copyright {
   font-size: 10px;
   color: var(--primary-black);
   text-align: center;
   margin-top: 3px;
   padding-bottom: 10px;
}
