@charset "utf-8";

/* =======================
event
========================== */
.section__event {
   background-color: var(--primary-white);
   padding: 4rem 0 1rem 0;
   overflow: hidden;
   display: block;
}

.section__event-modifiers {
   background-color: var(--primary-white);
   padding: 6rem 0 1rem 0;
   overflow: hidden;
   display: block;
}

.needReserve {
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 0.1em;
   color: var(--primary-green);
   text-align: center;
   margin: 4rem 0 1rem 0;
   background-color: var(--primary-lightgreen);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 10px;
   padding: 1.5rem 0;
}

.needReserve-modifire {
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 0.1em;
   color: var(--primary-green);
   text-align: center;
   margin: 4rem 0 1rem 0;
   background-color: var(--primary-lightgreen);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 1rem;
   padding: 1.5rem 0;
}

.event__event {
   text-align: center;
}

.event__card {
   position: relative;
   display: inline-block;
   margin: 2rem 0 4rem;
}

.event__card-modifire {
   position: relative;
   display: inline-block;
   margin: 1rem 0 4rem;
}

.event__card__img {
   width: 100%;
}
.event--green {
   display: block;
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   text-align: center;
}

.event--ja {
   display: block;
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-green);
   margin: 0 auto;
   text-align: center;
   margin-bottom: 4rem;
}

.imgWrap {
   width: 100%; 
   height: auto;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4);
   margin-bottom: 2rem;
   border-radius: 1rem;
   overflow: hidden;
}

.event__card__miniBtnWrap {
   width: 6rem;
   height: 4rem;
   background-color: var(--primary-green);
   color: var(--primary-white);
   font-size: 1.2rem;
   border-radius: 1rem 0 ;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
}

.event__title {
   text-align: center;
   font-size: 1.6rem;
   color: var(--primary-green);
   letter-spacing: 0.05em;
   font-weight: 500;
}

.fa-solid.fa-1,.fa-solid.fa-2,.fa-solid.fa-3,.fa-solid.fa-4,.fa-solid.fa-5,.fa-solid.fa-6,.fa-solid.fa-7.fa-solid.fa-8 {
   font-size: 1.4rem;
}

.event__time {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   letter-spacing: 0.08em;
}

.event__txtBk {
   text-align: center;
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-bottom: 1.6rem;
   margin-top: 0.3rem;
}

.event__btn__reserve {
   background-color: var(--primary-green);
   font-size: 1.4rem;
   color: var(--primary-white);
   padding: 0.5rem 1rem;
   border-radius: 1rem;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4);
}
