@charset "utf-8";

/* =======================
godY
========================== */

/* <section class="section__login">
   <h3 class="login">LOGIN / REGISTRATION</h3>
   <h2 class="login--ja">ログイン / 新規会員登録</h2>
   <p class="login--bk">会員ログイン</p> */

.login {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   text-align: center;
}

.login--ja {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-green);
   text-align: center;
}

.login--bk {
   font-size: 1.6rem;
   font-weight: 600;
   letter-spacing: 0.05em;
   text-align: left;
   color: var(--primary-black);
}

.form {
   width: 100vw;
}

      .form__item {
      padding: 0 2rem 0px 2rem;
      width: 100%;
      }
      .form__item + .form__item {
         margin-top: 1.6rem;
      }
      .form__item__label {
         font-size: 1.4rem;
      }

      /* selectタグ */
      .selectWrap {
      border: 1px solid gray;
      border-radius: 0.8rem;
      width: 100%;
      }

      /* inputタグ・textareaタグ */
      .form__item input {
      border: 1px solid gray;
      border-radius: 0.8rem;
      width: 100%;
      padding: 2rem 0.8rem 0.5rem;
      font-size: 1.6rem;
      }

.loginBtn {
   font-size: 1.6rem;
   font-weight: 500;
   letter-spacing: 0.1em;
   color: var(--primary-white);
   background-color: var(--primary-green);
   width: 31.1rem;
   padding: 0.5rem 0;
   text-align: center;
   display: block;
   margin: 0 auto;
   margin-top: 1.2rem;
   border-radius: 1rem;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.5);
}

.registration {
   margin-top: 6rem;
   text-align: center;
}

.registration__title {
   font-size: 1.8rem;
   font-weight: 600;
   letter-spacing: 0.05em;
   color: var(--primary-black);
}

.registration__txt {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-black);
   margin-top: 1rem;
}

.newLoginBtn {
   font-size: 1.8rem;
   font-weight: 700;
   letter-spacing: 0.2em;
   color: var(--primary-white);
   background-color: var(--primary-green);
   width: 31.1rem;
   padding: 1.5rem 0;
   text-align: center;
   display: block;
   margin: 0 auto;
   margin-top: 1.6rem;
   border-radius: 1rem;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.5);
}
