@charset "utf-8";

/* =======================
map
========================== */
.section__map {
   background-color: var(--primary-white);
   padding: 40px 0;
}

.map__title {
   margin: 0 auto;
}

.map--black {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-black);
   text-align: center;
}

.map--ja {
   font-size: 1.4rem;
   font-weight: 400;
   text-align: center;
   color: var(--primary-black);
   letter-spacing: 0.1em;
}

.floor {
   display: flex;
   justify-content: center;
   font-size: 2.4rem;
   font-weight: 700;
   gap: 50px;
   margin-top: 30px;
}

.f1,.f3 {
   color: var(--primary-lightGray);
}

.mapImg {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

.mapImg__1f {
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   width: 320px;
   margin-bottom: 30px;
}

.detailLook {
   display: flex;
   justify-content: center;
}

.map__description {
   width: 100%; 
   max-width: 317px;
   border-radius: 10px;
   border: solid 2px var(--primary-lightGray);
   margin: 0 auto;
   margin-top: 15px;
}
.mapIconInner{
   display: flex;
}
.map__description--under {
   width: 100%; 
   max-width: 317px;
   border-radius: 10px;
   border: solid 2px var(--primary-lightGray);
   margin: 0 auto;
   margin-top: 10px;
   margin-bottom: 20px;
}

.mapBtnWrap {
   display: flex;
   gap: 5px;
   justify-content: center;
   padding: 10px 0;
}

.reviewLook,.waitTimelook {
   color: var(--primary-white);
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 0.05em;
   background-color: var(--primary-green);
   border-radius: 10px;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4);
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   padding: 5px 12px;
}

.mapImg__VR {
   width: 105px;
   height: 105px;
   border-radius: 10px;
   margin-top: 13px;
   margin-left: 10px;
   object-fit: cover;
}

.mapImg__robot {
   width: 105px;
   height: 105px;
   border-radius: 10px;
   margin-top: 13px;
   margin-left: 10px;
}

.mapSquare {
   margin-top: 13px;
   margin-left: 10px;
}


.map__txt1 {
   font-size: 1.4rem;
   color: #E62280;
}

.map__txt2 {
   font-size: 1.4rem;
   color: #FBA429;
}

.map__txt1small {
   font-size: 1.2rem;
   color: var(--primary-black);
}

.map__txt2small {
   font-size: 1.2rem;
   color: var(--primary-black);
}
