@charset "utf-8";

/* =======================
map
========================== */
.section__map {
   width: 100vw;
   background-color: var(--primary-white);
   padding: 4rem 0;
}

.map__title {
   margin: 0 auto;
}

.map--black {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-black);
   text-align: center;
}

.map--ja {
   font-size: 1.4rem;
   font-weight: 400;
   text-align: center;
   color: var(--primary-black);
   letter-spacing: 0.1em;
}

.floor {
   display: flex;
   justify-content: center;
   font-size: 2.4rem;
   font-weight: 700;
   gap: 5rem;
   margin-top: 3rem;
}

.f1,.f3 {
   color: var(--primary-lightGray);
}

.mapImg {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}

.mapImg__1f {
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
   width: 32rem;
   margin-bottom: 3rem;
}

.detailLook {
   display: flex;
   justify-content: center;
}

.map__description {
   width: 100%; 
   max-width: 375px;
   border-radius: 1rem;
   border: solid 2px var(--primary-lightGray);
   display: block;
   margin: 0 auto;
   margin-top: 1.5rem;
}

.mapIconInner{
   display: flex;
}

.map__description--under {
   width: 100%; 
   max-width: 375px;
   border-radius: 1rem;
   border: solid 2px var(--primary-lightGray);
   display: block;
   margin: 0 auto;
   margin-top: 1rem;
   margin-bottom: 2rem;
}

.mapBtnWrap {
   display: flex;
   gap: 0.5rem;
   justify-content: center;
   padding: 1rem 0;
}

.reviewLook,.waitTimelook {
   color: var(--primary-white);
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 0.05em;
   background-color: var(--primary-green);
   border-radius: 1rem;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.4);
   align-items: center;
   justify-content: center;
   white-space: nowrap;
   padding: 0.5rem 1.2rem;
}

.mapImg__VR {
   width: 10.5rem;
   height: 10.5rem;
   border-radius: 1rem;
   margin-top: 1.3rem;
   margin-left: 1rem;
   object-fit: cover;
}

.mapImg__robot {
   width: 10.5rem;
   height: 10.5rem;
   border-radius: 1rem;
   margin-top: 1.3rem;
   margin-left: 1rem;
}

.mapSquare {
   margin-top: 1.3rem;
   margin-left: 1rem;
}


.map__txt1 {
   font-size: 1.4rem;
   color: #E62280;
}

.map__txt2 {
   font-size: 1.4rem;
   color: #FBA429;
}

.map__txt1small {
   font-size: 1.2rem;
   color: var(--primary-black);
}

.map__txt2small {
   font-size: 1.2rem;
   color: var(--primary-black);
}
