@charset "utf-8";

/* =======================
ticket/pass
========================== */

.section__ticketPass{
   background-color: var(--primary-lightGray);
   padding-top: 40px;
   width: 100vw;
}

.ticketPass--gr {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-green);
   text-align: center;
}

.ticketPass--ja {
   font-size: 1.4rem;
   font-weight: 400;
   color: var(--primary-green);
   text-align: center;
}

.ticket__box {
   display: flex;
   flex-direction: column;
   text-align: center;
   
}

.ticketPass__title {
   font-size: 1.6rem;
   font-weight: 700;
   color: var(--primary-green);
   letter-spacing: 0.2rem;
   background-color: var(--primary-lightgreen);
   width: 31.7rem;
   margin: 0 auto;
   border-radius: 1rem;
   padding: 1rem 0;
   margin-top: 4rem;
}

.general {
   width: 100%;  
   height: auto; 
   border-radius: 1rem;
   display: flex;
   justify-content: center;
   margin-top: 1rem;
   padding: 1rem;
   background-color: var(--primary-white);
   gap: 1.5rem;
}

.icone__box {
   width: 7.3rem;
   height: 7.3rem;
   border-radius: 1rem;
   overflow: hidden;
}

.icone__box-modifire {
   width: 7.3rem;
   height: 7.3rem;
   border-radius: 1rem;
   overflow: hidden;
   border: var(--primary-lightGray) 2px solid;
}

.icone__contents {
   width: 100%;
}

.ticket__txtArea {
   display: block;
   padding: 0.5rem;
}

.ticket__type {
   font-size: 1.6rem;
   font-weight: 700;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
} 

.ticket__typeSub {
   font-size: 1.2rem;
   font-weight: 400;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
   margin-left: 0.5rem;
}

.ticket__typeSub-modifiers {
   font-size: 1.1rem;
   font-weight: 400;
   letter-spacing: 0.1em;
   color: var(--primary-black); 
}

.user {
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 0.1em;
   color: var(--primary-black);
   text-align: left;
}

.contentsWrap {
   display: flex;
   align-items: center;
   margin: 0 auto;
}

.price__fine {
   display: block;
   font-size: 1.6rem;
   color: var(--primary-black);
   font-weight: 400;
   text-align: left;
}

.price__bold {
   font-size: 2rem;
   font-weight: 700;
   margin-left: 0.5rem;
   letter-spacing: 0.05em;
   color: var(--primary-black);
} 

.tax {
   font-size: 1.2rem;
   font-weight: 400;
   margin-left: 0.5rem;
   letter-spacing: 0.05em;
   color: var(--primary-black);
}

.addtoCart__btn {
   display: block;
   font-size: 1.6rem;
   font-weight: 500;
   color: var(--primary-white);
   background-color: var(--primary-green);
   padding: 1rem;
   margin: 4rem 6rem 6rem;
   border-radius: 1rem;
   box-shadow: 2px 5px 8px rgba(144, 144, 144, 0.5); 
}