@charset "utf-8";

/* =======================
common
========================== */
:root {
   --primary-lightGray:#d9d9d9;
   --primary-green:#1A9B44;
   --primary-black:#333a3a;
   --primary-white:#fdfdfd;
   --primary-lightgreen: #DAF8D3;
   --primary-lightblue:#D3ECF8;
   --contentWidth: 91.4%;
   --contentpadding: 4.2%;
}

html {
   font-size: 62.5%;
}

body {
   font-family: 
      'noto Sans JP',
      Arial, 
      sans-serif;
   font-style: normal;
   color: var(--primary-black,#333a3a);
   background-color: var(--primary-white,#fdfdfd);
   line-height: 1.5;
}

.header {
   width: 351px;
   height: 80px;
   display: flex;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
   background-color: var(--primary-lightgreen);
}

.NexaHUBicon {
   width: 150px;
   height: 26px;
}

/* ページ全体は固定 */
body{
  margin:0;
  height:100vh;
  overflow:hidden;
  background:#eaeaea;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* スマホ枠 */
.phone{
   width:375px;
   height:812px; /* 好きなサイズ */
   background:#111;
   border-radius:40px;
   padding:12px;
   box-shadow:0 20px 40px rgba(0,0,0,.2);
   box-sizing: border-box;
}

/* 画面部分だけスクロール */
.screen{
   width:100%;
   height:100%;
   background:#fff;
   border-radius:28px;
   overflow-y:auto;
  -webkit-overflow-scrolling:touch; /* iOS風 */
   overflow-x: hidden;
}

/* =======================
reserve
========================== */
.section__reserve {
   background-color: var(--primary-white);
   padding: 40px 0;
}

/* .icone__block {
   width: 317px;
   margin: 0 auto;
}

.member {
   width: 32px;
   height: 52px;
   margin-right: 5px;
}

.login {
   width: 54px;
   height: 52px;
} */

.reserve--bk {
   font-size: 2.4rem;
   font-weight: 700;
   color: var(--primary-black);
   text-align: center;
}


.reserve--ja {
   font-size: 1.2rem;
   font-weight: 400;
   color: var(--primary-black);
   text-align: center;
}

/* .reserve__btnList {
   width: 89px;
   height: 57px;
   margin-left: 10px;
   background-color: var(--primary-black);
   border-radius: 10px;
   box-shadow: 7px 7px 10px rgb(144, 144, 144);
   animation: event__btnList 3s ease-in-out infinite alternate;
   display: inline-block;
   transition: 1.5s ease-in-out;
   width: 73px;
   height: 53px;
   margin-top: 15px;
}  */

/* @keyframes event__btnList {
   0% {
      transform:translate(0, 0) rotate(-7deg);
   }
   50% {
      transform:translate(0, -7px) rotate(0deg);
   }
   100% {
      transform:translate(0, 0) rotate(7deg);
   }
} */


.reserve__btnListTxt {
   font-size: 1.6rem;
   color: var(--primary-white);
   font-weight: 700;
   text-align: center;
   line-height: 1.2;
}

.reserve__span {
   font-size: 1.4rem;
}

/* =======================
NexaHUBinformation
========================== */
.section__NexaHUBinformation {
   background-color: var(--primary-lightgreen);
   text-align: left;
   justify-content: center;
   padding-top: 40px;
}

.NexaHUBinformation__title {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.NexaHUBinformation__block {
   margin-bottom: 20px;
}

.NexaHUBinformation__subTitle {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 400;
   margin-left: 5px;
}

.NexaHUBinformation__txt {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txt1 {
   font-size: 1.2rem;
   color: var(--primary-black);
   font-weight: 400;
   margin-left: 40px;
}

.NexaHUBinformation__txtSns {
   font-size: 1.2rem;
   color: var(--primary-green);
   font-weight: 500;
   margin-left: 40px;
}

.SNSblock {
   display: flex;
   justify-content: left;
   gap: 10px;
   animation: SNSblock 2s ease-out infinite;
   opacity: 1;
      margin-left: 40px;
}

@keyframes SNSblock {
   0%, 40%, 60%, 80% {
   transform: scale(1.0);
}

50%, 70% {
   transform: scale(0.95);
   }
}

.sns {
   width: 20px;
   height: 20px;
   margin: 10px 0 40px;
}

.copyrightArea {
   margin: 0 auto;
}

.footerLine {
   border-top: #a9a9a9 0.1px solid;
   margin-bottom: 15px;
}

.NexaHUBiconFooter {
   background-color: var(--primary-lightgreen);
   width: 110px;
   height: 19px;
   display: block;
   margin: 0 auto;
}

.copyright {
   font-size: 10px;
   color: var(--primary-black);
   text-align: center;
   margin-top: 3px;
   padding-bottom: 10px;
}
